.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color:yellow;
    }
#footer1
{
    background: #762b00;
}
#footer2 {
    background: #531f00;
}

